body{
margin:0;
font-family: "Poppins", Arial, Helvetica, sans-serif;
background:#ffffff;
color:#333;
line-height:1.6;
}

html{
scroll-behavior:smooth;
}

/* Brand Color */
.primary{
color:#ff6b00;
}

/* Buttons */
.btn{
background:#f25f0a;
color:white;
padding:12px 25px;
border:none;
cursor:pointer;
font-size:16px;
border-radius:6px;
font-weight:500;
transition:all 0.3s ease;
}

/* Button Hover */
.btn:hover{
background:#e44700;
transform:translateY(-2px);
}

/* Links */
a{
text-decoration:none;
color:#333;
font-weight:500;
transition:0.3s;
}

a:hover{
color:#db1f19;
}

/* Section spacing */
.section{
padding:80px 10%;
}

/* Container for layout */
.container{
max-width:1200px;
margin:auto;
}

.card{
background:white;
padding:25px;
border-radius:10px;
box-shadow:0 5px 20px rgba(0,0,0,0.08);
transition:0.3s;
}

.card:hover{
transform:translateY(-5px);
box-shadow:0 10px 25px rgba(0,0,0,0.15);
}

.submit-btn{
background:#ff6b00;
color:white;
border:none;
padding:15px 45px;
border-radius:8px;
font-size:16px;
cursor:pointer;
transition:all 0.25s ease;
box-shadow:0 6px 18px rgba(0,0,0,0.15);
}

.submit-btn:hover{
background:#ff5100;
transform:translateY(-2px);
box-shadow:0 10px 22px rgba(0,0,0,0.2);
}

.submit-btn:active{
transform:translateY(1px) scale(0.97);
box-shadow:0 4px 10px rgba(0,0,0,0.15);
}

/* ClientDashboard */
.clientcard{
background:white;
padding:20px;
border-radius:12px;
box-shadow:0 10px 25px rgba(0,0,0,0.05);
text-align:center;
}

.projectCard{
background:white;
padding:25px;
border-radius:15px;
margin-bottom:25px;
box-shadow:0 10px 30px rgba(0,0,0,0.05);
}

.timeline{
display:flex;
gap:15px;
margin-top:10px;
}

.step{
padding:8px 15px;
background:#eee;
border-radius:20px;
font-size:14px;
}

.done{
padding:8px 15px;
background:#10b981;
color:white;
border-radius:20px;
}

.file{
display:flex;
justify-content:space-between;
padding:10px;
background:#f3f4f6;
margin-top:10px;
border-radius:8px;
}

.empty{
background:white;
padding:40px;
text-align:center;
border-radius:15px;
}

.clientbtn{
padding:10px 20px;
background:#ff6b00;
border:none;
color:white;
border-radius:6px;
cursor:pointer;
}