body{
  margin:0;
  font-family:'Inter', sans-serif;
  background:#f1f5f9;
}

/* Glass UI Card */

.glass{
  background:rgba(255,255,255,0.6);
  backdrop-filter:blur(12px);
  border-radius:16px;
  box-shadow:0 10px 30px rgba(0,0,0,0.08);
}

/* Statistic cards */

.statCard{
  padding:25px;
  border-radius:14px;
  background:white;
  box-shadow:0 10px 25px rgba(0,0,0,0.05);
  transition:0.3s;
}

.statCard:hover{
  transform:translateY(-5px);
}

/* Buttons */

.primaryBtn{
  background:#2563eb;
  color:white;
  padding:12px 20px;
  border:none;
  border-radius:8px;
  cursor:pointer;
  font-weight:500;
}

.primaryBtn:hover{
  background:#1e40af;
}

/* Project cards */

.projectCard{
  background:white;
  padding:25px;
  border-radius:16px;
  box-shadow:0 8px 25px rgba(0,0,0,0.05);
  margin-top:25px;
  transition:0.3s;
}

.projectCard:hover{
  transform:translateY(-4px);
}

/* Timeline */

.timeline{
  display:flex;
  gap:15px;
  margin-top:10px;
  flex-wrap:wrap;
}

.step{
  background:#e5e7eb;
  padding:8px 15px;
  border-radius:20px;
  font-size:14px;
}

.done{
  background:#22c55e;
  color:white;
  padding:8px 15px;
  border-radius:20px;
}